.MAG24_loaded {
    
    .variant-filter-controls{
        border-top: 0px solid #e7e7e7;
    }

    .kitchenmodeloverview h1{
        margin-bottom: 0px;
    }
    
    .kitchenmodeloverview .variant-filter-controls .variant-filter-control.swipe-slider-item{
        margin-right: 10px;
        font-size: 14px;
    }
    .side-filter__check{
        display: inline-block;
        width: 19px;
        height: 19px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background-color: transparent;
        background-image: url('https://www.magnet.co.uk/icon/check/transparent');
        background-position: 50% 50%;
        background-size: 15px;
        background-repeat: no-repeat;
        transition: border-color .35s ease,background-color .35s ease;
    }

    .NewNode{
        display: inline-block;
        font-size: 17px;
        line-height: 0;
        margin-left: 5px;
        color: #192228;
    }
    .NewNodeCategory{
        text-decoration: none;
    }
    .selected , .category-filter{
        text-decoration: none; 
    }

    a.selected .side-filter__check{
        border-color: #192228;
        background-color: #192228;
        background-image: url('https://www.magnet.co.uk/icon/check/fff');
    }
    .MAG24_loaded .kitchenmodeloverview .variant-filter-controls .variant-filter-control.swipe-slider-item{
        margin-right: 7px;
    font-size: 14px;
    }
}